@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

:root 
{
    --foreground-color: rgb(245, 245, 245);
    --background-color: rgba(50, 50, 50);

    --main-color: rgb(0, 0, 255);

    --main-themantic-color: #6765ff;
    --secondary-themantic-color: #8ec5fc;
}

body
{   
    height: 100%;
    background-image: linear-gradient(to bottom, var(--background-color), rgba(0, 0, 0, 0.5));;
}

h1.header
{
    color: var(--main-color);
    font-family: 'IBM Plex Mono';
    text-align: left;
    font-size: 50px;

    background-image: none;
    background-color: rgba(0, 0, 0, 0);
}